.LoadingSpinner {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LoadingSpinner-icon {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
